* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.obenSection {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.obenSection > div {
  max-width: 500px;
}

.obenSection > div > h1 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  margin: 50px 0;
}

.obenSection > div > p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 50px 0;
  font-weight: bold;
}

.obenSection > div > p > span {
  color: turquoise;
}

/****************************************/
.trennung {
  height: 10px;
  background-color: gray;
  width: 100%;
}

/****************************************/
.untenSection {
  width: 100%;
  height: auto;
  background-color: lightgray;
  padding: 50px 20px;
}

.untenSection > div {
  max-width: 800px;
  background-color: white;
  padding: 20px;
  margin: auto;
  border-bottom: 10px solid gray;
}

.untenSection > div > h1 {
  color: black;
  background-color: gold;
  width: fit-content;
  padding: 10px 10px;
  margin-left: -30px;
  border-bottom: 5px solid goldenrod;
}

.first {
  margin-top: 20px;
}

.untenSection > div > p > span {
  font-style: italic;
}
